@import "../../styles/vars";

.searchShoutout {
  font-family: $shoutout-font-family;
  margin: 0 0 32px;
  max-width: 850px;

  &__title {
    font-weight: 500;
  }

  &__text {
    &__link {
      color: inherit;
    }
  }

  &__banner {
    background-color: $theme-colour-lighter;
    border-radius: $panel-radius;
    display: inline-block;
    margin: 16px 0;
    padding: 16px 32px;
  }
}
