@import "../../styles/vars";

.table {
  display: flex;
  font-family: $table-font-family;
  overflow-y: scroll;
  position: relative;
  width: 100%;

  &__table {
    border: none;
    border-collapse: collapse;
    text-align: left;
    width: 100%;

    &__header {
      background: $table-header-colour !important;
      position: sticky;
      top: 0;
    }

    &__item,
    &__header {
      vertical-align: top;

      th,
      td {
        padding: 16px 0 16px 16px;

        &:last-child {
          padding-right: 16px;
        }
      }

      &:nth-child(odd) {
        background: $colour-pale-grey;
      }
    }

    &__item {
      &__name {
        &__event {
          display: inline-block;
          font-weight: bold;
          padding-bottom: 4px;
        }

        &__alert {
          color: $alert-colour;

          &::before {
            background: $alert-colour;
            border-radius: 50%;
            content: "";
            display: inline-block;
            height: 6px;
            margin: 2px 6px 2px 2px;
            width: 6px;
          }
        }
      }

      &__contact {
        display: inline-block;
        margin-top: 4px;
      }

      &--alert {
        background: $alert-background;
      }
    }
  }

  &__highlight {
    background: $table-highlight-colour;
    color: $colour-black;
  }
}
